@page "/"
@using ElevatorConsole
@inject ElevatorOperator Operator

<PageTitle>Elevator</PageTitle>

<div class="floor-list">
    @foreach (var floor in Operator.Elevator.Floors)
    {
        <div class="floor">
            <span>@floor.FloorNumber</span>
            <div class="floor-buttons">
                @if (floor.HasUpButton)
                {
                    <button @onclick="() => Operator.GoingDown(floor)">
                        @if (!floor.HasDownButton)
                        {
                            @: Call
                        }
                        else
                        {
                            @: Down
                        }
                    </button>    
                }
                @if (floor.HasDownButton)
                {
                    <button @onclick="() => Operator.GoingUp(floor)">
                        @if (!floor.HasUpButton)
                        {
                            @: Call
                        }
                        else
                        {
                            @: Up
                        }
                    </button>    
                }
            </div>   
        </div>   
    }    
</div>
